In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
def generate_eurojackpot_numbers(seed=None):
    if seed is not None:
        np.random.seed(seed)
    
    main_numbers = np.random.choice(range(1, 51), size=5, replace=False)
    additional_numbers = np.random.choice(range(1, 11), size=2, replace=False)
    
    return sorted(main_numbers), sorted(additional_numbers)

In [4]:
lista = []
for seed in np.arange(50000000,100000000):
    main_numbers, additional_numbers = generate_eurojackpot_numbers(seed=seed)
    lista.append([seed, str(main_numbers).str.replace(',',''), str(additional_numbers).str.replace(',','')])

In [4]:
for i in np.arange(5,7):
    lista = []
    for seed in np.arange(50000000*(i-1),50000000*i):
        main_numbers, additional_numbers = generate_eurojackpot_numbers(seed=seed)
        lista.append([seed, str(main_numbers).replace(',',''), str(additional_numbers).replace(',','')])
    
    df = pd.DataFrame(lista, columns=['seed', 'main_numbers', 'additional_numbers'])
    df.to_parquet(f'Euro_numbers_part{i}.parquet')
    print(i)

5
6

In [ ]:
lista[1]

In [ ]:
df = pd.DataFrame(lista, columns=['seed', 'main_numbers', 'additional_numbers'])

In [ ]:
from datetime import datetime

In [ ]:
# Initialize empty lists to store data
data = []
current_date = None
main_numbers = []
additional_numbers = []

for year in np.arange(2012,2024):
    # Read the text file
    with open(f'C:/Users/FRACK004/Downloads/{year}.txt', 'r') as f:
        lines = f.readlines()

    # Process each line
    for line in lines:
        line = line.strip()
        if line:  # Check if the line is not empty
            try:
                # Try to convert the line to an integer
                number = int(line)
                
                # If it's a number, add it to the appropriate list
                if len(main_numbers) < 5:
                    main_numbers.append(number)
                else:
                    additional_numbers.append(number)
            except ValueError:
                # If it's not a number, it's a date or a new section
                if not current_date:
                    current_date = line
                else:
                    data.append([current_date, main_numbers, additional_numbers])
                    current_date = line
                    main_numbers = []
                    additional_numbers = []

    # Append the last set of data
    if current_date:
        data.append([current_date, main_numbers, additional_numbers])

# Create a Pandas DataFrame
df = pd.DataFrame(data, columns=['date', 'main_numbers', 'additional_numbers'])
df.to_parquet('EJ_winning_numbers.parquet')

In [29]:
df_win = pd.read_parquet('EJ_winning_numbers.parquet')
df_win['main_numbers'] = df_win['main_numbers'].astype(str)
df_win['additional_numbers'] = df_win['additional_numbers'].astype(str)

In [17]:
df_seed = pd.read_parquet('Euro_numbers_part6.parquet')
df_results_6=df_win.merge(df_seed, how='inner', on=['main_numbers','additional_numbers'] )

In [18]:
df_results_6

                         date      main_numbers additional_numbers       seed
0    PiÄ…tek 9 listopada 2012  [25 29 38 41 44]              [3 8]  253569116
1   PiÄ…tek 14 wrzeĹ›nia 2012  [10 14 15 24 47]              [4 8]  275533691
2    PiÄ…tek 7 wrzeĹ›nia 2012  [15 23 25 46 49]              [2 4]  259552719
3        PiÄ…tek 6 lipca 2012  [10 22 24 33 38]              [2 6]  284993389
4      PiÄ…tek 8 czerwca 2012  [10 15 16 36 44]              [7 8]  250462337
..                        ...               ...                ...        ...
85     Wtorek 13 czerwca 2023  [11 29 32 46 47]              [5 7]  275692504
86     Wtorek 13 czerwca 2023  [11 29 32 46 47]              [5 7]  276382750
87     Wtorek 13 czerwca 2023  [11 29 32 46 47]              [5 7]  277796965
88     Wtorek 13 czerwca 2023  [11 29 32 46 47]              [5 7]  287866153
89      Wtorek 21 lutego 2023  [13 20 34 38 43]              [3 6]  252795537

[90 rows x 4 columns]

In [5]:
result = pd.concat([df_result_1, df_result_2, df_result_3, df_result_4, df_result_5, df_result_6])

In [21]:
result['date'] = result['date'].str.replace('Wtorek ','')
result['date'] = result['date'].str.replace('PiÄ…tek ','')

In [24]:
result['date'] = result['date'].str.replace('stycznia','01')
result['date'] = result['date'].str.replace('lutego','02')
result['date'] = result['date'].str.replace('marca','03')
result['date'] = result['date'].str.replace('kwietnia','04')
result['date'] = result['date'].str.replace('maja','05')
result['date'] = result['date'].str.replace('czerwca','06')
result['date'] = result['date'].str.replace('lipca','07')
result['date'] = result['date'].str.replace('sierpnia','08')
result['date'] = result['date'].str.replace('wrzeĹ›nia','09')
result['date'] = result['date'].str.replace('paĹşdziernika','10')
result['date'] = result['date'].str.replace('listopada','11')
result['date'] = result['date'].str.replace('grudnia','12')

In [26]:
result['date'] = pd.to_datetime(result['date'], format='%d %m %Y')

In [30]:
result = result.sort_values(by='date')

In [32]:
result.to_parquet('final_results.parquet')

In [33]:
result.to_excel('final_results.xlsx')

In [4]:
df_result_1 = pd.read_parquet('Euro_numbers_part1.parquet')
df_result_2 = pd.read_parquet('Euro_numbers_part2.parquet')
df_result_3 = pd.read_parquet('Euro_numbers_part3.parquet')
df_result_4 = pd.read_parquet('Euro_numbers_part4.parquet')
df_result_5 = pd.read_parquet('Euro_numbers_part5.parquet')
df_result_6 = pd.read_parquet('Euro_numbers_part6.parquet')

In [4]:
df_result_1.head()

   seed      main_numbers additional_numbers
0     0   [3 11 12 29 42]              [3 4]
1     1   [3 28 36 39 41]              [3 5]
2     2  [10 14 29 37 48]              [5 6]
3     3  [10 13 32 40 48]              [1 3]
4     4    [5 7 12 13 49]              [2 5]

In [6]:
df = result.groupby(['main_numbers', 'additional_numbers']).size().reset_index(name='Count')

In [11]:
df.sort_values(by='Count', ascending=False).head(10)

              main_numbers additional_numbers  Count
26529391  [15 22 40 47 49]             [1 10]     18
67052911   [5 17 33 39 50]              [5 9]     17
35345809   [2 13 17 23 48]              [8 9]     17
80918263   [7 31 34 47 48]              [6 7]     17
47333161  [25 32 35 36 45]              [3 4]     16
34788634   [2 11 25 28 37]              [2 8]     16
53985725    [3 5 12 16 35]              [3 9]     16
72123687   [6 13 15 25 40]              [2 7]     16
31380578  [18 20 21 33 34]              [8 9]     16
82280273   [8 10 19 24 35]             [1 10]     16

In [12]:
df_win = pd.read_parquet('EJ_winning_numbers.parquet')

In [30]:
df_win.head()

                        date      main_numbers additional_numbers
0    PiÄ…tek 28 grudnia 2012  [ 5  8 22 32 39]              [7 8]
1    PiÄ…tek 21 grudnia 2012  [11 20 24 25 35]              [4 8]
2    PiÄ…tek 14 grudnia 2012  [17 28 31 35 39]              [5 8]
3     PiÄ…tek 7 grudnia 2012  [13 20 22 27 42]              [3 5]
4  PiÄ…tek 30 listopada 2012  [ 2 13 21 24 37]              [6 7]

In [35]:
desired_value = '[ 5 8 22 32 39]'
filtered_df = df_win[df_win['main_numbers']== desired_value]

In [36]:
filtered_df

Empty DataFrame
Columns: [date, main_numbers, additional_numbers]
Index: []

In [27]:
df_win.dtypes

date                  object
main_numbers          object
additional_numbers    object
dtype: object

In [37]:
df_results_6=df_win.merge(df, how='inner', on=['main_numbers','additional_numbers'] )

In [43]:
df_results_6.sort_values(by='Count', ascending=False)

                             date      main_numbers additional_numbers  Count
39          PiÄ…tek 28 marca 2014  [10 32 35 38 45]              [4 5]      9
34       PiÄ…tek 15 sierpnia 2014  [17 38 41 43 47]              [4 6]      8
33       PiÄ…tek 22 sierpnia 2014  [19 20 40 42 47]              [2 8]      8
111         PiÄ…tek 19 lipca 2019  [31 32 45 47 49]              [7 9]      8
142      PiÄ…tek 16 kwietnia 2021  [12 19 20 28 31]              [6 9]      8
..                            ...               ...                ...    ...
46   PiÄ…tek 9 paĹşdziernika 2015  [13 14 23 26 31]              [3 9]      1
88       PiÄ…tek 27 stycznia 2017  [12 15 19 29 48]              [7 9]      1
42        PiÄ…tek 18 grudnia 2015  [11 19 27 32 42]              [5 9]      1
40          PiÄ…tek 7 lutego 2014  [16 18 20 36 49]              [3 4]      1
110      PiÄ…tek 23 sierpnia 2019  [15 18 19 41 42]              [4 6]      1

[175 rows x 4 columns]